<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Contact Messages</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/admin-styles.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <header class="admin-header">
        <div class="admin-header-content">
            <h1>Registration Details</h1>
            {% with registrations = get_flashed_messages(with_categories=true) %}
            {% if registrations %}
            <ul class="flashes">
                {% for category, message in registrations %}
                <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <nav>
                <a href="{{url_for('index')}}">Home Page</a> <a href="{{url_for('contact_admin_page')}}">Contact Us Messages</a>

            </nav>
        </div>
    </header>

    <main class="admin-main-content">
        <section class="admin-section">
            <div class="section-header">
                <h2>Event Registration</h2>
               
            </div>


            <div class="admin-table-container">
                {% if registrations%}
                <table class="admin-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Date Registered</th>
                            <th>Phone Number</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for msg in registrations %} {# Loop through each ContactMessage object #}
                        <tr class="message-row">
                            <td>{{msg.id}}</td>
                            <td>{{msg.firstname}}</td>
                            <td>{{msg.lastname}}</td>
                            <td>{{msg.email}}</td>
                            <td>{{msg.registration_date.strftime('%Y-%m-%d %H:%M')}}</td>
                            <td>{{msg.phone}}</td>
                            
                            <td>
                                <button class="action-button view-button" data-message-id="M001"><i
                                        class="fas fa-eye"></i> View</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No registration found yet.</p>
                {% endif %}
            </div>
        </section>

        <div id="messageDetailModal" class="modal" style="display: none;">
            <div class="modal-content">
                <span class="close-button">&times;</span>
                <h3>Message Details</h3>
                <div class="message-details-content">
                    <p><strong>ID:</strong> <span id="ID"></span></p>
                    <p><strong>First Name:</strong> <span id="FirstName"></span></p>
                    <p><strong>Last Name:</strong> <span id="LastName"></span></p>
                    <p><strong>Email:</strong> <span id="Email"></span></p>
                    <p><strong>Date Registered:</strong><span id="Date"></span></p>
                    <p><strong>Phone:</strong> <span id="Phone"></span></p>
                    
                    <p id="detailMessage"></p>
                </div>
            </div>
        </div>

    </main>

    <footer class="admin-footer">
        <p>&copy; 2025 PORA ACADEMY. All rights reserved.</p>
    </footer>

    <script>
        document.querySelectorAll('.view-button').forEach(button => {
            button.addEventListener('click', function () {
                const row = this.closest('tr');
                document.getElementById('ID').textContent = row.children[0].textContent;
                document.getElementById('FirstName').textContent = row.children[1].textContent;
                document.getElementById('LastName').textContent = row.children[2].textContent;
                document.getElementById('Email').textContent = row.children[3].textContent;
                 document.getElementById('Date').textContent = row.children[4].textContent;
                document.getElementById('Phone').textContent = row.children[5].textContent;
                
               
               

                document.getElementById('messageDetailModal').style.display = 'block';
            });
        });

        document.querySelector('#messageDetailModal .close-button').addEventListener('click', function () {
            document.getElementById('messageDetailModal').style.display = 'none';
        });

        window.addEventListener('click', function (event) {
            const modal = document.getElementById('messageDetailModal');
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        });
    </script>
</body>

</html>